<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
</head>
<body>
  <div>
    <input type="file" id="fileInput">
    <button id="send">上传</button>
  </div>
  <script>
    send.onclick = function () {
      let data = new FormData();
      data.append('file', fileInput.files[0])
      axios.post('/api/user/upload', data,{
        headers: { 'Content-Type': 'multipart/form-data' }
      }).then((data) => {
        console.log(data)
      })
    }
  </script>
</body>
</html>